---
layout: header
---

<div id="navbar" role="navigation" aria-label="main navigation">
    <a id="title" href="/"><strong>Marco</strong></a>

    <a class="navbar-item" title="Home" href="/">
        <i class="fas fa-home"></i>
    </a>
    <a class="navbar-item" title="Blog" href="/blog.html">
        <i class="fas fa-book"></i>
    </a>
    <button id="switch-theme" class="navbar-item" title="Switch theme">
        Theme: <i id="theme-icon" class="fas"></i>
    </button>
</div>

<div id="main-view">
    {{ content }}
</div>

<div id="footer">
    <p>
        <strong><span id="goodbye-wall">┻┳|</span>
            <span id="goodbye-gopher">･ω･)/</span></strong>
        <a href="https://github.com/markort147">
            <i class="fa-brands fa-github"></i>
        </a>
    </p>
</div>